body{
    margin: 0px;
}

#clock{
    color: rgb(255, 255, 255);
    font-family: Comfortaa;
    font-size: 20px;
    right: 10px;
    position: absolute;
    text-align: justify; 
    top: 10px;
    pointer-events: none;
}
#devices{
    color: rgb(255, 255, 255);
    font-family: Comfortaa;
    font-size: 20px;
    height: 100px;
    left: 77.5%;
    position: absolute;
    text-align: justify;
    text-decoration: none;
    top: 15px;
    white-space: normal;
    width: 20%;
    pointer-events: none;
}

#logo{
    filter: blur(4px);
    height: 100px;
    top: 2px;
    position: absolute;;
    left: 1px;  
    width: 140px;
    pointer-events: none;
}

#team{
    color: rgb(255, 255, 255);
    font-family: Comfortaa;
    font-size: 20px;
    left: 45%;
    position: absolute;
    text-align: justify;
    text-decoration: none;
    top: 15px;
    white-space: normal;
}

#news{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Comfortaa;
    left: 15%;
    position: absolute;
    text-decoration: none;
    top: 15px;
    pointer-events: none;
}
.caption_big{
	color: #00ae00;
    font-family: Comfortaa; 
    text-decoration: none;
    font-size:50px;
    position: relative;
    margin: 90px 75px 0px;
    
}
.caption_small{
	color: #00ae00;
    font-family: Comfortaa;
    position: relative;
    text-decoration: none;
    font-size:30px ;
  	margin:10px 75px;
}
.caption_medium{
	color: #00ae00;
    font-family: Comfortaa;
    position: relative;
    text-decoration: none;
    font-size:38px ;	
    position: relative;
    margin:40px 75px;
}
.text{
	color: #00ae00;
    font-size: 20px;
    font-family: Comfortaa; 
    text-decoration: none;
    margin:20px 75px 0px;
    
}
.text_grey{
	color: grey;
    font-size: 20px;
    font-family: Comfortaa; 
    text-decoration: none;	
    position: relative;
    margin:3px 75px 28px;
}
.text_grey_small{
    color: grey;
    font-size: 13px;
    font-family: Comfortaa; 
    text-decoration: none;  
    position: relative;
    margin:3px 75px 28px;

}
#div_2{
    filter: blur(4px);
    background-color: #00ae00;  
    border-top-left-radius: 25px;
    height: 52px;
    position: relative;
    top: 50px;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}
#div_1{
    filter: blur(4px);
    background-color: #008500;
    height: 87px;  
    overflow-y: hidden;
    padding-top: 15px;
    position: absolute;
    width: 100%;  
    pointer-events: none;
}
hr{
	margin:0px 0px 90px;
}

input.knopka {
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #008500; /* фон кнопки */
  padding: .5em 3em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
} 
input.knopka:hover { background: #00ae00; } /* при наведении курсора мышки */
input.knopka:active { background: #41DB00; } /* при нажатии */
.write_q{
    font-family: Comfortaa;
    font-size: 26px;
    position: relative;
    width: 350px;
    height: 35px;
    border-style: solid;
    border-width: 1px;
    color: rgb(215, 96, 9);
    border-color: rgb(215, 96, 9);
    margin:5px 75px 10px;
}
a.text_out{
    color: #00ae00;
    font-size: 20px;
    font-family: Comfortaa; 
    position: relative;
    text-decoration: none;
    margin:0px 0px 0px;
}
#go2{
    height: 45px;

    font-size: 20px;
    font-family: Comfortaa;
    margin:10px 40px 0px 75px;
}
#go{
    height: 20px;
    
    font-size: 20px;
    font-family: Comfortaa;
    margin:10px 40px 0px 75px;

}
.knopka {
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #008500; /* фон кнопки */
  padding: .5em 3em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
} 
.knopka:hover { background: #00ae00; } /* при наведении курсора мышки */
.knopka:active { background: #41DB00; } /* при нажатии */
#error{
    color:#FF0D00;
    margin:10px 75px 10px;
    font-family: Comfortaa;
    font-size: 20px;
}
#error_login{
    color:#FF0D00;
    margin:10px 75px 0px;
    font-family: Comfortaa;
    font-size: 20px;
}
