body{
    margin: 0px;
}

#devices{
    color: rgb(255, 255, 255);
    font-family: Comfortaa;
    font-size: 20px;
    left: 77.5%;
    position: absolute;
    text-align: justify;
    text-decoration: none;
    top: 15px;
    white-space: normal;
}

#logo{
    height: 100px;
    top: 2px;
    position: absolute;;
    left: 1px;  
    width: 140px;
}

#team{
    color: rgb(255, 255, 255);
    font-family: Comfortaa;
    font-size: 20px;
    left: 45%;
    position: absolute;
    text-align: justify;
    text-decoration: none;
    top: 15px;
    white-space: normal;
}

#news{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Comfortaa;
    left: 15%;
    position: absolute;
    text-decoration: none;
    top: 15px;
}

#clock{
    color: rgb(255, 255, 255);
    font-family: Comfortaa;
    font-size: 20px;
    right: 5px;
    position: absolute;
    text-align: justify; 
    top: 15px;
}
#registration{ 
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Comfortaa; 
    right: 80px;
    position: absolute;
    text-decoration: none;
    top: 10px;
}

#enter{ 
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Comfortaa; 
    position: absolute;
    right: 5px;
    text-decoration: none;
    top: 14px;
}
.caption_big{
	color: #00ae00;
    font-family: Comfortaa; 
    text-decoration: none;
    font-size:50px;
    position: relative;
    margin: 90px 75px 30px;
    
}
.caption_small{
	color: #00ae00;
    font-family: Comfortaa;
    position: relative;
    text-decoration: none;
    font-size:30px ;
  	margin:10px 75px;
}
.caption_medium{
	color: #00ae00;
    font-family: Comfortaa;
    position: relative;
    text-decoration: none;
    font-size:38px ;	
    position: relative;
    margin:40px 75px;
}
.text{
	color: #00ae00;
    font-size: 20px;
    font-family: Comfortaa; 
    text-decoration: none;
}
.text_grey{
	color: grey;
    font-size: 20px;
    font-family: Comfortaa; 
    text-decoration: none;	
    position: relative;
    margin:3px 75px 28px;

}
#div_2{
    background-color: #00ae00;  
    border-top-left-radius: 25px;
    height: 52px;
    position: relative;
    top: 50px;
    width: 100%;
    overflow: hidden;
}
#div_1{
    background-color: #008500;
    height: 87px;  
    overflow-y: hidden;
    padding-top: 15px;
    position: absolute;
    width: 100%;
    font-family: Comfortaa;
}
#command2{
    background-color: #008500;
    border-radius: 50px 50px 50px 50px;
    height: 2px;
    width: 100%;
    top:250px;
    position: absolute;
    font-family: Comfortaa;
    font-size: 20px;
}
.caption_feed{
    color: #00ae00;
    font-family: Comfortaa;
    text-decoration: none;
    font-size:50px;
    position: relative;
    margin: 90px 0px;
    
}
#command1{
    background-color: #008500;
    border-radius: 50px 50px 50px 50px;
    height: 2px;
    width: 100%;
    top:385px;
    position: absolute;
    font-family: Comfortaa;
    font-size: 20px;
}
hr{
	margin:0px 0px 60px;
}
a.knopka {
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #008500; /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
} 
a.knopka:hover { background: #00ae00; } /* при наведении курсора мышки */
a.knopka:active { background: #41DB00; } /* при нажатии */
#plus_knopka{
    position: relative;
    font-family: Comfortaa;
    font-size: 20px;
    margin: 20px 75px 0px;
}
#welcome{
    font-family: Comfortaa;
    font-size: 20px;
    position:absolute;
    text-decoration:none;
    top:14px;
    color: rgb(255, 255, 255);
    right: 120px;
}
#exit{
    font-family: Comfortaa;
    font-size: 20px;
    position:absolute;
    text-decoration:none;
    top:14px;
    color: rgb(255, 255, 255);
    right: 10px;
}
div.area{
    width: 86%;
    height: 1000px;
    position: relative;
    border-radius: 25px;
    border:solid 3px green;
    margin: 60px auto;
}
.personal_photo{
    position: relative;
    margin:40px 80px;
    border-radius: 10px;
    border: solid 3px green;
    height: 200px;
    width: 180px;
}
#name{
    position: absolute;
    top: 20px;
    left: 300px;
    font-family: Comfortaa;
    font-size: 30px;
    color: #00ae00;
}
#class_area{
    position: absolute;
    top: 80px;
    left: 300px;
    font-family: Comfortaa;
    font-size: 20px;
    color: grey;
}
