@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url('styles//fonts/comfortaa-v10-cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Comfortaa Regular'), local('Comfortaa-Regular'),
    url('styles/comfortaa-v10-cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('styles/comfortaa-v10-cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('styles/comfortaa-v10-cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('styles/comfortaa-v10-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('styles/fonts/comfortaa-v10-cyrillic-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
}
button.knopka {
	color: #fff; /* цвет текста */
	text-decoration: none; /* убирать подчёркивание у ссылок */
	user-select: none; /* убирать выделение текста */
	background: #008500; /* фон кнопки */
	padding: .4em 1em; /* отступ от текста */
	outline: none; /* убирать контур в Mozilla */
} 
button.knopka:hover { background: #00ae00; } /* при наведении курсора мышки */
button.knopka:active { background: #41DB00; } /* при нажатии */
a.nopka {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #008500; /* фон кнопки */
    padding: .4em 1em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
} 
a.nopka:hover { background: #00ae00; } /* при наведении курсора мышки */
a.nopka:active { background: #41DB00; } /* при нажатии */
#knopka{

    position: relative;
    font-family: Comfortaa;
    text-decoration: none;  
    font-size: 20px;
    margin: 30px 20px 20px;
}
div.block{
    
    border: solid 3px green;
    border-radius: 10px;
    width: 500px;
    height: 80px;
}
select.block{
        position:relative;
    margin: 20px 20px 0px;
    font-size: 16px;
    background-color: #1DD300;
    font-family: Comfortaa;
    border-radius: 5px;
    color:white;
}
#choose{
    position:relative;
    margin: 20px 20px 0px;
    font-size: 16px;
    background-color: #1DD300;
    font-family: Comfortaa;
    border-radius: 5px;
    color:white;
}
[id*="block"] {
    margin-bottom: 10px;
}
#block{
    height: 100px;
    border: solid 3px green;
    border-radius: 20px
}
.write_q{
    font-family: Comfortaa;
    font-size: 26px;
    position: relative;
    width: 100px;
    height: 35px;
    border-style: solid;
    border-width: 1px;
    color: rgb(215, 96, 9);
    border-color: rgb(215, 96, 9);
    margin:5px 10px 10px;
}
.text{
    color: #00ae00;
    font-size: 20px;
    font-family: Comfortaa; 
    text-decoration: none;
    margin:20px 20px 0px;
    
}
