<!DOCTYPE HTML>
<htmL>
{{> head }}
<body>
    {{#repo}}
    {{> header }}
    {{/repo}}
    {{^repo}}
    {{> headerNo }}
    {{/repo}}


        <p class = "caption_big">Наша команда</p>
        <p class = "caption_medium">Над проектом трудятся триннадцать человек:</p>
        
        <a class = "caption_small" href="https://vk.com/suketshi">Долбнин Михаил</a>
        <p class="text_grey">Программист</p>
        
        <a class = "caption_small" href="https://vk.com/vektorver">Кадыров Антон</a>
        <p class="text_grey">Программист</p>
        
        <a class = "caption_small" href="https://vk.com/st_1580">Кирсанов Ярослав</a>
        <p class="text_grey">Программист</p>
        
        <a class = "caption_small" href="https://vk.com/id157494996">Монастырев Максим</a>
        <p class="text_grey">Программист</p>
        
        <a class = "caption_small" href="https://vk.com/pasynkovv">Пасынков Александр</a>
        <p class="text_grey">Программист</p>
        
        <a class="caption_small" href="https://vk.com/radianttroye">Алексашина Софья</a>
        <p class="text_grey">Биолог-аналитик</p>
        
        <a class = "caption_small" href="https://vk.com/id301907157">Балеевских Полина</a>
        <p class="text_grey">Биолог-аналитик</p>
        
        <a class = "caption_small" href="https://vk.com/id167441091">Воробьева Полина</a>
        <p class="text_grey">Биолог-аналитик</p>
        
        <a class = "caption_small" href="https://vk.com/id183562172">Заверткина Мария</a>
        <p class="text_grey">Биолог-аналитик</p>
        
        <a class="caption_small" href="https://vk.com/id162752873">Головань Ольга</a>
        <p class="text_grey">Биолог-аналитик</p>
        
        <a class = "caption_small" href="https://vk.com/id171621249">Иванов Тимофей</a>
        <p class="text_grey">Инженер</p>
        
        <a class = "caption_small" href="https://vk.com/id166125550">Шевнин Михаил</a>
        <p class="text_grey">Инженер</p>
        
        <a class = "caption_small" href="https://vk.com/id382347850">Щербаков Михаил</a>
        <p class="text_grey">Инженер</p>
    </body>
</html>
            
