<!DOCTYPE HTML>
<html>
{{> head }}
<body>
{{> header }}

        <p class="caption_big">Управление системой</p>

        <p class="caption_small">Сохранённые протоколы</p>

        <hr size="2px" color="#008500">
        <p class="caption_small">Создание протокола</p>

        <hr size="2px" color="#008500">
        <a href="create_protocol" id="plus_knopka" class="knopka">Добавить действие</a>
    </body>
</html>
