<!DOCTYPE HTML>
<html>
    {{> head }}
    <body>
        {{#repo}}
        {{> header }}
        {{/repo}}
        {{^repo}}
        {{> headerNo }}
        {{/repo}}
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?146"></script>
        <div id="vk_groups" class="caption_feed"></div>
        <script type="text/javascript">
            VK.Widgets.Group("vk_groups", {mode: 4, height: 600, width: screen.width }, 150441656);
            </script>
    </body>
</html>
