<head>
    <title>{{title}}</title>
    <link href="/static/css/blur.css" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
            <style>
                /* comfortaa-regular - cyrillic */
                @font-face {
                    font-family: 'Comfortaa';
                    font-style: normal;
                    font-weight: 400;
                    src: url('/styles//fonts/comfortaa-v10-cyrillic-regular.eot'); /* IE9 Compat Modes */
                    src: local('Comfortaa Regular'), local('Comfortaa-Regular'),
                    url('/styles/comfortaa-v10-cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                    url('/styles/comfortaa-v10-cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
                    url('/styles/comfortaa-v10-cyrillic-regular.woff') format('woff'), /* Modern Browsers */
                    url('/styles/comfortaa-v10-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
                    url('/styles/fonts/comfortaa-v10-cyrillic-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
                }
            </style>
            </head>
