        
        <script src="/static/javascript/time.js"></script>
        <script src="/static/javascript/proverka.js"></script>
        <div id="div_1">
            <a id="welcome" href="/personal" target="_self">
                {{name}}
            </a>
            <a id = "exit" href = "/exit" target="_self">
                Выход
            </a>
        </div>
        <div id="div_2" class="blur">
            <a id="devices" href="/devices" target="_self">
                Протоколы
            </a>
            <a id="team" href="/developers" target="_self">
                Наша Команда
            </a>
            
            <a id="news" href="/feed" target="_self">
                Новости
            </a>
            
            <nobr id="clock">  
            </nobr>
            
        </div>
        
        
        <a id="id_238288" href="/" target="_self">
            <img id="logo" src="/static/images/logo.png">
                </a>
