<!DOCTYPE HTML>
{{> headNo }}
<html>
    {{> headerNo }}

        <p class="caption_big">Вход</p><br/>
        <p class="text">Логин:</p>
        <form method="post" action="/enter/complete" enctype = "multipart/form-data">
        <input type="text" name = "temp[0]" class="write_q">
            <p class="text">
            Пароль:
            </p>
            <input type="password" name = "temp[1]" class="write_q"><br/>
                <p><input type="submit" id="go2" class="knopka" value="Вход">
                
                    <a class="text_out" href="/" target="_self">
                        Вернуться...
                    </a></p>
                    </form>
                    <p class="text">У вас ещё нет аккаунта Future Lab? Зарегистрируйтесь&nbsp;<a href="/registration">здесь.</a></p>

        </body>
</html>
