<!DOCTYPE HTML>
<html>
    {{> headNo }}
    <body>
        {{> headerNo }}
        <script src="static/javascript/proverka.js"></script>
        <p class="caption_big">Регистрация</p>

        <form method="post" action="/registration/complete" enctype = "multipart/form-data">

            <p class="text">Логин:</p>

            <p>
            <input type="text" id="login" name = "login" class="write_q" minlength="4" maxlength="16" required>
                <div id="error_login" style="display:none">*Логин должен иметь от 4 до 16 символов!</div>
                </p>

                <p class="text_grey_small">Допустимы только буквы латинского алфавита</p>

                <p class="text">Имя:</p>

                <p>
                <input type="text" id="first_name" name = "firstname" class="write_q" required>
                    </p>

                    <p class="text">Фамилия:</p>

                    <p>
                    <input type="text" id="last_name" name = "lastname" class="write_q" required>
                        </p>

                        <p class="text">Пароль:</p>

                        <p>
                        <input type="password" name = "password" id="password" minlength="8" class="write_q" required>
                            </p>

                            <p class="text">Повторить пароль:</p>

                            <input type="password" id="re_password" minlength="8" class="write_q" required>
                                <div id="error" style="display:none">Пароли не совпадают</div>
                                <p>
                                <input type="submit" id="go2" class="knopka" value="Регистрация">
                                    <a href="/" class="text_out">Вернуться...</a>
                                    </p>
        </form>
    </body>
</html>
