﻿a {
	color:#009;	
}

div {
	height:auto;
}

img {
	border:0;
	vertical-align: middle;
	padding: 3px;
	float: left;
}

pre {
	background: #abccec;
}

h2 {
	clear:both;
}
h5 {
	font-size: 1.1em;	
}

#header {
position:relative;
clear:both;
background: #4088ff;
height: 95px;
margin: 0px 10px;
padding: 0px 20px;
border-radius:0px 0px 20px 20px;
}
#header img {
padding: 0px;
}

#wrapper p {
	margin:10px 20px;	
}

nav {
	background: #000305;
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 1em 20px;
	text-align: center;
	
	border-radius: 5px;
}

nav ul {
	list-style: none;
	margin: 5px;
}
nav li {
	float: left;
	display: inline;
	margin: 0;
}

nav a:link, nav a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 1.5em;
	text-decoration: none;
}
nav a:hover, nav a:active,
nav .active a:link, nav .active a:visited {
	background: #8B0000;
	color: #fff;
	text-shadow: none !important;
}

#main {
	position:relative;
	clear:both;
	margin:5px;
	padding:0px 10px;
}
#main p {
	margin:5px 0px;
	clear:both;
}

#pub {
	clear:left;
	text-align:left;
	position: relative;
}

#adm {
	clear:right;
	text-align:right;
	position: relative;
}

.pnum {
	float:right;
	color:#009;
	font-weight: bold;
}

.dop {
	color:#555;
	margin:0px;
	clear:both;
}

/* different container elements */
.tab {
	border: 2px #03F solid;
	border-radius:20px;
	clear:both;
	margin:10px 5px 10px 5px;
	padding:4px 8px 8px 8px;
	box-shadow:8px 8px 12px 3px gray;
}
.tab > h1 {
	text-align:center;
	background:#577bff;
	color:#FFF;
	font-size:2em;
	margin:0px -4px 10px -4px;
	border-radius:16px;
}
.tab > h2 {
	text-align:center;
	background:#577bff;
	color:#FFF;
	font-size:1.5em;
	margin:0px -3px 8px -3px;
	border-radius:12px;
}
.tab > a > img {
	float: none;
}

/*.tabzag {
	text-align:center;
	background:#577bff;
	padding:5px;
	color:#FFF;
	font-size:larger;
	clear:both;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
}
.tabzag a {
	color:#FFF;
}*/
.zagleft {
	background:#577bff;
	padding:5px;
	color:#FFF;
	clear:both;
}
.zagleft a {
	color:#FFF;
}

.subtab {
border: 1px #03F solid;
margin:5px;
padding:3px;
overflow:auto;
clear:both;
}

.optional {
	background:#C8DAFF;
	padding:5px;
	border-radius:15px;
}

.subzag {
background:#eaecff;
padding:5px;
color:#00099b;
float:none;
clear:both;
border-top-left-radius:15px;
border-top-right-radius:15px;
}
.subzag a {
	color:#00099b;
}

.opis {
	padding:5px;
}
.main_opis {
	padding:5px;
}

.opis table {
	margin:0px 10px 5px 10px;
	width:98%;
}

/* Table & form elements */
.invtable {
	border:none;
}

button
{
	margin: 10px;
	padding:5px 10px 5px 10px;
	text-align:center;
	border:1px solid #4C77B6;
	background-color: #DFE6EF;
	border-radius:7px;
	font-family:Verdana, Arial;
	font-size:1em;
}
.under_table {
	text-align:center;
	clear:both;
}
input {
	font-size:0.9em;
}
select {
	font-size:1em;
}
p {
	font-size:1em;
}
.tab fieldset {
	border: none;
	margin: 5px;
}
fieldset td {
	border: none;
}

table[border="1"] {
	border: 1px solid #D1DCEB;
}

table[border="1"]>tbody>tr>td {
	background-color:#F5F9FD;
	border-bottom:1px solid #D1DCEB;
	border-right:1px solid #D1DCEB;
	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
	text-align:left;
}

table[border="1"]>tbody>tr>td:first-child
{
	background-color:#EEF2F7;
	border-bottom:1px solid #D1DCEB;
	border-right:1px solid #D1DCEB ;
	border-top:1px solid #FFF;
	border-left:1px solid #D1DCEB;
	text-align:left;
}

.poyasn
{
	color:#999; 
}

table {
	font-size:1em;
}

table[border="1"]>tbody>tr>th
{
	background-color:#3862fe;
	color:#fff;
	border-bottom:1px solid #D1DCEB;
	border-top:1px solid #FFF;
	border-left:1px solid #C4E2FF;
	border-right:1px solid #D1DCEB;	
	text-align:left;
}

table[border="1"]>tbody>tr>th:first-child
{
	background-color:#3862fe;
	color:#fff;
	border-bottom:1px solid #D1DCEB;
	border-right:1px solid #D1DCEB;
	border-top:1px solid #FFF;
	border-left:1px solid #D1DCEB;
	text-align:left;
}

#plate_renderer>tbody>tr>td {
	font-size: small;
}

.invisible {
	display:none;
}

#floatingWindow {
	position:absolute;
	z-index:10;
	left:900px;
	top:90px;
	width:560px;
	background-color:#dde3eb;
	border-radius:16px;
}